
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFooLabel" data-translate="stijwtApp.foo.home.createOrEditLabel">Create or edit a Foo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.foo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.foo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stijwtApp.foo.bar" for="field_bar">Bar</label>
            <input type="text" class="form-control" name="bar" id="field_bar"
                    ng-model="vm.foo.bar"
                    required ng-minlength="8"/>
            <div ng-show="editForm.bar.$invalid">
                <p class="help-block"
                    ng-show="editForm.bar.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.bar.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stijwtApp.foo.baz" for="field_baz">Baz</label>
            <input type="number" class="form-control" name="baz" id="field_baz"
                    ng-model="vm.foo.baz"
                    required min="100" max="999"/>
            <div ng-show="editForm.baz.$invalid">
                <p class="help-block"
                    ng-show="editForm.baz.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.baz.$error.min" data-translate="entity.validation.min" translate-value-min="100">
                    This field should be at least 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.baz.$error.max" data-translate="entity.validation.max" translate-value-max="999">
                    This field cannot be more than 999.
                </p>
                <p class="help-block"
                    ng-show="editForm.baz.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
