
<div>
    <h2><span data-translate="stijwtApp.foo.detail.title">Foo</span> {{vm.foo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="stijwtApp.foo.bar">Bar</span></dt>
        <dd>
            <span>{{vm.foo.bar}}</span>
        </dd>
        <dt><span data-translate="stijwtApp.foo.baz">Baz</span></dt>
        <dd>
            <span>{{vm.foo.baz}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="foo-detail.edit({id:vm.foo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
