<div>
    <h2 data-translate="stijwtApp.foo.home.title">Foos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="foo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="stijwtApp.foo.home.createLabel">
                        Create new Foo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="stijwtApp.foo.bar">Bar</span></th>
                    <th><span data-translate="stijwtApp.foo.baz">Baz</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="foo in vm.foos track by foo.id">
                    <td><a ui-sref="foo-detail({id:foo.id})">{{foo.id}}</a></td>
                    <td>{{foo.bar}}</td>
                    <td>{{foo.baz}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="foo-detail({id:foo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foo.edit({id:foo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foo.delete({id:foo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
