<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="rw-logo img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="error.title">Error Page!</h1>

            <div ng-show="errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
