<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="rw-logo img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">STI Technical Evaluation Assignment</h1>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>
		
				<!-- To enable registrations, define the mail server properties in application-dev.yml and uncomment out this code block
                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
                 -->
            </div>

            <p>
            	<a href="https://github.com/roundwheel/sti-jwt#sti-technical-evaluation-assignment-response" target="_blank" data-translate="home.github">Github</a>
            </p>
        </div>
    </div>
</div>
